body {
  background: #f5f5f5;
}
a.nav-link {
  color: whitesmoke;
}
h1 {
  color: whitesmoke;
  margin-bottom: 15px;
  padding-top: 100px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #566f7c;
}
.profile p {
  color: whitesmoke;
  margin-bottom: 15px;
}

.job-title {
  font-size: 28px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.8);
  margin-bottom: 15px;
}

.top-bar {
  background-color: lightslategray;
}
.middle-bar {
  background-color: #566f7c;
}
.bottom-bar {
  background-color: #4b626d;
  padding: 20px;
}

.profile {
  max-width: 800px;
  margin: 0 auto;
}

.about {
  background-color: bisque;
}
.page {
  background-color: #fff;
  margin-top: 50px;
  border: 1px rgba(245, 245, 245, 0.664) solid;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  margin-bottom: 45px;
  padding: 50px;
}

.page .text {
  margin-left: 100px;
}

.timeline {
  border-left: 3px solid #e0475b;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 380px;
}

.timeline .item {
  position: relative;
  margin-bottom: 45px;
}

.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.timeline .job-meta .time {
  color: #8a8a8a;
}

.timeline .work-place {
  position: relative;
}

.timeline .location {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a;
}

.timeline .job-meta {
  position: absolute;
  left: -280px;
  top: 0;
}

.timeline .job-meta .title {
  font-size: 18px;
  color: #e0475b;
  max-width: 220px;
}

.timeline .job-desc {
  color: #666;
}

.font-italic {
  font-style: italic !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.justify-content-around {
  justify-content: space-around !important;
}

.technology {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.skill-tag {
  box-shadow: 0 1px 4px 0rgba(0,0,0,.14);
  padding: 6px 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #f5f5f5;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
}

.level {
    color: #8a8a8a;
    margin-bottom: 15px;
}

.bottom-skills {
  margin-top: 50px;
}